<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym Monkey</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Gym Monkey</h1>
        <nav>
            <ul>
                <li>Dashboard</li>
                <li>Members</li>
                <li>Reports</li>
            </ul>
        </nav>
    </main>
	<script src="index.js"></script>
  </body>
<style>

    nav {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2rem;
    }

    ul {
        list-style-type: none;
        display: flex;
    }

    li {
        margin: 0 2rem;
    }

</style>
</html>